# Keil machine-specific files
*.uvguix.*
*.uvoptx

# Build artifacts
Objects/
Listings/
*.axf
*.bin
*.d
*.dep
*.elf
*.hex
*.o
*.map
*.lst
*.sct
*.tra

# IAR build output
iar/Debug/

# JLink
JLinkLog.txt
JLinkSettings.ini

# Large SDK folders - not tracked
AmbiqSuite_R4.5.0/
CMSIS_5-5.9.0/
CMSIS_6-6.3.0/
CMSIS_5-5.9.0.zip
CMSIS_6-6.3.0.zip
mnist/
 
 